<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <!-- <ul class="sidebar-menu" data-widget="tree">
      <li *ngFor="let form of formNames" class="treeview" style="border-bottom: 1px solid #ffffff">
        <a [routerLink]="['/glavna/'] + form.ImeForma2" routerLinkActive="active">
          <i class="{{form.Icon}}"></i>
          <span style="font-size: 18px;">{{form.ImeForma}}</span>
        </a>

      </li>
    </ul> -->
    
  </section>
  <!-- /.sidebar -->
</aside>