<div class="wrapper" style="position: inherit;">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="content-wrapper" style="min-height: 668px;">
      <router-outlet></router-outlet>
  </div>
  <footer class="main-footer">
      <div class="pull-right hidden-xs" style="padding-top: 15px;">
        <b>Copyright © 2018 <span style="color: #309c8f;">BUSINESS PROCESS MANAGEMENT</span>. All rights reserved.</b> 
      </div>
      <img src="../../../assets/images/logo.png" height="45px;" />
  </footer>
  </div>